.container {
  grid-template-columns: 60% 40%;
}

.left-panel-image {
    float: left;
    max-width: 100%;
    height: auto;
  }
  
  .mainContent {
    padding: 30px;
    float: left;
  }
  
  .profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin: 10px;
  }
  
  .mainContent {
    font-family: 'Roboto', sans-serif;
  }