.left-panel-image {
    float: left;
    max-width: 300%;
    height: 300px;
  }
  
  .mainContent {
    margin: 50px;
    float: left;
  }
  
  .profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin: 10px;
  }
  
  .mainContent {
    font-family: 'Roboto', sans-serif;
  }